In [1]:
# visualizing environmental sensors data using Bokeh package
# similar data files can be found in the data folder on GitHub
import numpy as np
import pandas as pd
from bokeh.plotting import figure, show
folder = 'E:/data/d4d/env/data/nov28/'
fName1 = 'ak.csv'
fName2 = 'eqa.csv'
fName3 = 'nzitce.csv'
heads = ['tstamp', 'temp', 'rh', 'PM25', 'pmv', 'lat', 'lon', 'alt']
csvFile1 = ''.join([folder, fName1]) 
data1 = pd.read_csv(csvFile1, sep=',', header=0, names= heads)
csvFile2 = ''.join([folder, fName2]) 
data2 = pd.read_csv(csvFile2, sep=',', header=0, names= heads)
csvFile3 = ''.join([folder, fName3]) 
data3 = pd.read_csv(csvFile3, sep=',', header=0, names= heads)

In [2]:
data1.shape
data1[:5]

                tstamp   temp    rh  PM25      pmv  lat  lon  alt
0  11/24/2016 12:00:42  18.44  8.01  0.94  0.26123  ---  ---  ---
1  11/24/2016 12:01:42  18.44  7.27  0.34  0.17761  ---  ---  ---
2  11/24/2016 12:02:42  18.46  9.54  1.13  0.29297  ---  ---  ---
3  11/24/2016 12:03:42  18.47  7.49  1.01  0.21301  ---  ---  ---
4  11/24/2016 12:04:42  18.44  9.24   1.2  0.52307  ---  ---  ---

In [3]:
x = data1['tstamp'].apply(lambda xt: pd.to_datetime(xt))
y = data2['tstamp'].apply(lambda yt: pd.to_datetime(yt))
z = data3['tstamp'].apply(lambda zt: pd.to_datetime(zt))
#temp = data['temp']
#rh = data['rh']
#no2 = data['NO2']
#co = data['CO']
pm1 = data1['PM25']
pm2 = data2['PM25']
pm3 = data3['PM25']
# create a new plot
p = figure(width=1000, height=650,
   tools="pan,box_zoom,reset,save",
    title="PM25 in Ramallah on Nov 24 - 28",
   x_axis_label='date and time', y_axis_label='PM', x_axis_type="datetime"
)

# add some renderers
p.line(x, pm1, legend="PM25 over time AK", line_color="blue")
p.line(y, pm2, legend="PM25 over time EQA", line_color="green")
p.line(z, pm3, legend="PM25 over time NZITCE", line_color="red")
p.legend.location = "top_left"
# show the results
show(p)